.dc-table {
  position: relative;
}
.dc-table-rowheader-wrapper {
  position: absolute;
  top: 0;
}
.dc-table-col-resize-proxy {
  position: absolute;
  left: 200px;
  top: 0;
  bottom: 0;
  width: 0;
  border-left: 1px solid #e7eaec;
  z-index: 10;
}

.dc-table-row-resize-proxy {
  position: absolute;
  left: 0;
  top: 10px;
  right: 0;
  height: 0;
  border-top: 1px solid #e7eaec;
  z-index: 10;
}

.dc-table .leaf {
  border-bottom: 0;
}

.dc-table .cell {
  width: 100%;
  overflow: hidden;
}