.container {
  width: 1200px;
  margin: 0 auto;
}

.c-table .cell,
.c-table .header,
.s-table .header,
.s-table .cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

